.radio-custom {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 31px;
  height: 31px;
  background-color: #345ef63a;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.radio-custom:checked::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #345ff6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
